* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.docx binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.onnx binary
*.pdf binary
*.png binary
*.safetensors binary
*.sqlite3 binary
*.tar binary
*.whl binary
